torch==2.6.0
torchvision==0.21.0
torch-geometric==2.7.0
numpy==2.1.2
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.15.3
lifelines==0.30.0
matplotlib==3.10.7
networkx==3.3
PyYAML==6.0.3
opencv-python==4.12.0.88
openslide-python==1.4.3
openslide-bin==4.0.0.10
Pillow==11.3.0
tqdm==4.67.1
